.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  margin: 4px;
  margin-bottom: 20vh;
}

.form-error {
  display: block;
}

.form-section {
  margin: 15px 0;
}

.frequency-display {
  padding: 15px;
  background-color: rgba(#efecff, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .price-label {
    font-size: 4rem;
    line-height: 4rem;
  }
}
