.container {
  display: flex;
  padding: 15px;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(gray, 0.2);
  }
}

.content {
  width: 100%;
}

.personalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContainer {
  display: flex;
  position: relative;

  .deleteButton {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

.beneficiaryName {
  font-weight: 600;
  > *:not(:last-child) {
    margin-right: 3px;
  }
}

.shareLabel {
  font-size: 30px;
  font-weight: 600;
}

.selector {
  border: none;
}

.contactContainer {
  
}
