@import "../../../../style/variables";
@import "../../../../style/mixins";

.paneHeader {
  color: $color-primary;
}

.errorMessage {
    color: $color-red;
}

.birthdateContainer {
    width: 100%;
    @include tablet-min {
        max-width: 300px;
    }
}