@import 'variables';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: $border-radius-input;
  border: 1px transparent solid;
  background-color: transparent;

  transition: all 0.2s ease;

  &.full {
    width: 100%;
  }

  &.primary:not(.outline):not(.text) {
    background-color: $color-primary;
    color: $text-light;
  }

  &.primary.outline {
    border-color: $color-primary;
    color: $color-primary;

    &:hover, &:focus {
      color: white;
      background-color: $color-primary;
      box-shadow: $input-shadow;
      outline: none;
    }
  }

  &.primary.text {
    color: $color-primary;
  }
}
