$color-primary: rgba(#9c37f2, 1);
$color-green: rgba(#48A9A6, 1);
$color-red: rgba(#C1666B, 1);

$text-light: rgba(#FFF, 1);
$text-muted: rgba(#AAA, 1);
$text-dark: #000000;

$font-size-small: 14px;

$border-radius-input: 5px;
