@import "buttons";
@import "input";
@import "select";
@import "typography";

.not-allowed {
  cursor: not-allowed;
}

p a {
  font-weight: bold;
}

button {
  &:focus {
    outline: none !important;
  }
}

button.jxEXYf {
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s ease;
  &:focus {
    border: none !important;
    box-shadow: 0 0 2px 0 $color-primary;
    transform: scale(1.01);
  }
}
