@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.StyledCheckBox-sc-1dbk5ju-6 {
    min-width: auto !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-steps-item-process .ant-steps-item-icon {
    background-color: #9c37f2 !important;
    border-color: #9c37f2 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: #9c37f2 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #9c37f2 !important;
}

.ant-steps-item-finish > .ant-steps-item-tail:after {
    background-color: #9c37f2 !important;
}

.sexButton {
    margin-left: 10px;
}

.showOnXSmallScreens {
    display: none;
}

@media screen and (max-width: 455px) {
    .cyLPmt {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 685px) {
    .hideOnXSmallScreens {
        display: none !important;
    }
    .showOnXSmallScreens {
        width: 100%;
        height: 6px;
        display: block !important;
    }
}

@media screen and (max-width: 810px) {
    .hideOnSmallScreens {
        display: none !important;
    }

    .StyledBox-sc-13pk1d4-0.cYihDV {
        overflow: visible !important;
    }

}

@media screen and (min-width: 810px) {
    .form-content {
        min-width: 820px
    }
}

.addBenButton {
    border-color: #aaaaaa;
    transition: all 0.3s ease;
    color: #888888;
    padding: 8px;
    border-style: dashed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.addBenButton:hover {
    background-color: #eee;
    color: #9c37f2;
    border-color: #9c37f2;
}