$header-height: 70px;

.topNav {
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 100;
}

.quotingToolContainer {
    height: 100vh;
    overflow: hidden;
}

.quoteFormContainer {
    overflow: scroll;
    margin-top: $header-height;
    height: calc(100% - #{$header-height});
}

