$header-height: 70px;

.topNav {
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .mainLogo {
        width: 170px;
        padding: 5px 10px;
        object-fit: contain;
    }
}

.quotingToolContainer {
    height: 100vh;
    overflow: hidden;
}

.quoteFormContainer {
    overflow: scroll;
    margin-top: $header-height;
    height: calc(100% - #{$header-height});
}

