.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 500px;
}

.mode-switcher {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
}
