@import '../../style/mixins';
@import '../../style/variables';

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 500px;
}

.form-error {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: $color-red;

  .error-icon {
    margin-right: 8px;
  }
}

.modalContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.23);

  .authContainer {
    display: flex;
    background-color: white;
    border-radius: 4px;

    .left {
      background-color: $color-primary;
      background-image: url('../../assets/img/auth-background.png');
      background-size: cover;
      min-width: 275px;
    }

    .authForm {
      min-width: 500px; // remove

      @include tablet-min {
        padding: 60px;
      }

      .iqLogo {
        max-height: 50px;
        max-width: 130px;
        margin-bottom: 30px;
      }

      input, .formTitle {
        margin-bottom: 18px;
      }

      .formHelp {
        margin-bottom: 40px;
      }
    }
  }

  .auth-container {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    background-color: rgba(#FFFFFF, 1);
    border-radius: 10px;

    @include tablet-min {
      min-width: 300px;
    }
  }
}

.mode-switcher {
  margin-top: 5px;
}